body{
  max-width: 100vw;
}
#slider{
  display: block;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.slide{
  display: block;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: pink;
}
